.container
    padding: 2%

.headerFilter
    background: #ffffff
    margin-bottom: 10px
    padding: 0px
    padding-right: 10px

.breadcrumbs-span
    position: relative
    top: -5px
    padding-left: 5px
    color: #9E9E9E
    font-weight: 500

.breadcrumbs-span-active
    position: relative
    top: -5px
    padding-left: 5px
    color: #2E87FF
    font-weight: 500

.row-filter-input
    margin: 10px
    padding: 5px
    align-self: center

.inputFilter
    border: 1px solid #e4e4e4
    border-radius: 5px
    padding: 5px
    padding-left: 10px
    top: 5px
    position: relative
.inputFilter

.example-full-width
    min-width: 150px
    max-width: 500px
    width: 100%
    background: blue

.buttonFilter
    width: 100%!important
    min-width: unset!important

.buttonClear
    width: 100%!important
    min-width: unset!important
    // margin-left: 10px

.loading
    margin-left: auto
    margin-right: auto

.mat-column-Id, .mat-column-Usuario, .mat-column-Titulo, .mat-column-Mensagem
    padding-left: 20px
    padding-right: 20px

.mat-elevation-z8
    width: 100%
    border-radius: 12px !important
    background: red
