:host
    // font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
    font-size: 18px
    font-family: "Hind Vadodara",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif

.layout
    height: 100%
.content
    background: #F6FBFF
    min-height: 500px
    // max-height: 1000px
    // display: flex

.logo
    max-width: 40px
    display: block
    margin-left: auto
    margin-right: auto
    margin-top: 20px
    margin-bottom: 20px
.side
    justify-content: center
    // padding-right: 5px
    border: 0px
    background: #fffff
    width: 250px
    padding: 10px

.headerMenu
    text-align: center

.titleMenu
    margin: 0
.subTitleMenu
    margin: 0

.item
    border-radius: 6px
    margin-top: 8px
    font-weight: 500
    flex-direction: row

mat-list-option[aria-selected="true"] 
    background: #3F51B5
    color: #ffffff

.example-spacer
    flex: 1 1 auto

.header
    background: #3F51B5
    color: #ffffff
    padding-left: 20px
