<mat-drawer-container class="layout">
  <mat-drawer class="side" mode="side" opened>
    <a routerLink="Dashboard">
      <img class="logo" src="../assets/logo-box.png" />
    </a>
    <mat-selection-list aria-live="" [multiple]="false">
      <mat-list-option
        #item
        class="item"
        routerLink="dashboard"
        value="Dashboard"
      >
        Dashboard
      </mat-list-option>
      <mat-list-option #item class="item" routerLink="post" value="Post">
        Post
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content class="content">
    <mat-toolbar class="header">
      <!-- <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button> -->
      <!-- <span>My App</span> -->
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>palette</mat-icon>
      </button>
      <!-- <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button> -->
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
