<mat-drawer-container class="layout">
  <mat-drawer fxHide.xs class="side" mode="side" opened>
    <div class="headerMenu">
      <a routerLink="Dashboard">
        <img class="logo" src="../assets/user.png" />
      </a>
      <h4 class="titleMenu">Usuário</h4>
      <h6 class="subTitleMenu">Administrador</h6>
    </div>
    <mat-selection-list [multiple]="false">
      <mat-list-option
        #item
        class="item"
        routerLink="dashboard"
        value="Dashboard"
        selected
      >
        Dashboard
      </mat-list-option>
      <mat-list-option #item class="item" routerLink="post" value="Post">
        Post
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content class="content">
    <mat-toolbar class="header">
      <!-- <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button> -->
      <span>View!</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>palette</mat-icon>
      </button>
      <!-- <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button> -->
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
