.container
    // padding: 2%

.header
    padding: 1%
    padding-left: 16px
    background: #3F51B5
    color: #ffffff
    height: 150px

.body
    position: relative
    top: -90px

// .boxDownColor
//     background: #3F51B5
//     width: 100%

//     top: 115px
//     position: absolute

.title
    margin: 0px
    padding: 0px
.subTitle
    font-size: 14px

.breadcrumbs-span
    position: relative
    top: -5px
    padding-left: 5px
    color: #9E9E9E
    font-weight: 500

.breadcrumbs-span-active
    position: relative
    top: -5px
    padding-left: 5px
    color: #2E87FF
    font-weight: 500

.card
    width: 90%
    margin: 1%

.chart
    max-width: 100%
    height: 320px
    padding-left: auto
    display: flex

.titleCard
    text-align: center

.chartCenter
    margin-left: auto
    margin-right: auto
    margin-top: auto
    margin-bottom: auto
    width: 80%
