<div class="container">
  <h1>Óla Bem-vindo de volta!</h1>
  <div class="breadcrumbs">
    <!-- <mat-icon aria-hidden="false">home</mat-icon> -->
    <span class="breadcrumbs-span">Homes</span>
    <span class="breadcrumbs-span"> / </span>
    <span class="breadcrumbs-span-active">Dashboard</span>
  </div>

  <mat-grid-list cols="2">
    <mat-grid-tile>
      <mat-card class="card">
        <div id="chartPie">
          <apx-chart
            [series]="chartOptionsPie.series"
            [chart]="chartOptionsPie.chart"
            [labels]="chartOptionsPie.labels"
            [responsive]="chartOptionsPie.responsive"
          ></apx-chart>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="card">
        <div id="chartBar">
          <apx-chart
            [series]="chartOptionsBar.series"
            [chart]="chartOptionsBar.chart"
            [dataLabels]="chartOptionsBar.dataLabels"
            [plotOptions]="chartOptionsBar.plotOptions"
            [xaxis]="chartOptionsBar.xaxis"
          ></apx-chart>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
