<div class="container">
  <div class="header">
    <h1 class="title">Óla Bem-vindo, Usuário!</h1>
    <span class="subTitle">Você possui {{ tasks }} tarefas.</span>
  </div>
  <div class="body" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
    
    <mat-card fxFlex="100%" fxFlex.lt-md="50%" class="card">
      <h2 class="titleCard">Análise de tarefas em Pizza</h2>
      <div class="chart">
        <div class="chartCenter" *ngIf="!isLoading; else loadingPie">
          <apx-chart
            *ngIf="chartOptionsPie.series.length > 0"
            [series]="chartOptionsPie.series"
            [chart]="chartOptionsPie.chart"
            [labels]="chartOptionsPie.labels"
            [responsive]="chartOptionsPie.responsive"
          ></apx-chart>
        </div>
        <ng-template #loadingPie>
          <ngx-skeleton
            class="chartCenter"
            height="250px"
            width="250px"
            margin="auto auto auto auto"
            borderRadius="500px"
          ></ngx-skeleton>
        </ng-template>
      </div>
    </mat-card>
    <mat-card fxFlex="100%" fxFlex.lt-md="50%" class="card">
      <h2 class="titleCard">Análise de tarefas em Barra</h2>
      <div class="chart">
        <ng-container *ngIf="!isLoading; else loadingBar">
          <apx-chart
            style="margin: auto auto auto auto"
            [series]="chartOptionsBar.series"
            [chart]="chartOptionsBar.chart"
            [dataLabels]="chartOptionsBar.dataLabels"
            [plotOptions]="chartOptionsBar.plotOptions"
            [xaxis]="chartOptionsBar.xaxis"
          ></apx-chart>
        </ng-container>
        <ng-template fxLayout="row" #loadingBar>
          <ngx-skeleton
            fxFlex="100%"
            height="200px"
            width="100px"
            margin="20% 0 auto auto"
            borderRadius="20px"
          ></ngx-skeleton>
          <span fxFlex="5%"></span>
          <ngx-skeleton
            fxFlex="50%"
            height="200px"
            width="100px"
            margin="20% auto auto 0"
            borderRadius="20px"
          ></ngx-skeleton>
        </ng-template>
      </div>
    </mat-card>
  </div>
</div>
