.container
    padding: 2%

.breadcrumbs-span
    position: relative
    top: -5px
    padding-left: 5px
    color: #9E9E9E
    font-weight: 500

.breadcrumbs-span-active
    position: relative
    top: -5px
    padding-left: 5px
    color: #2E87FF
    font-weight: 500

.card
    width: 90%
    margin: 1%

.chart
    max-width: 100%
    height: 320px
    padding-left: auto
    display: flex

.titleCard
    text-align: center

.chartCenter
    margin-left: auto
    margin-right: auto
    margin-top: auto
    margin-bottom: auto
    width: 80%
